<p *ngIf="found">
  <span *ngIf="checkBigPrize()">
    คุณถูกรางวัลที่ 1
  </span>
  <br>
  <span *ngIf="checkLastThreeDigitPrize()">
      คุณถูกรางวัลที่ เลขท้ายสามตัว
    </span>
</p>
<form [formGroup]="formGroup">
  <select formControlName="period">
    <option value="20190201">01 กุมภาพันธ์ 2061</option>
    <option value="20190216">16 กุมภาพันธ์ 2061</option>
  </select><br>
  <input formControlName="lottoNumber">
  <input type="button" value="ตรวจ" (click)="check()">
  <input type="button" value="ล้าง" >
</form>
<button (click)="goToResultPage()" >
  link to all lotto
</button>
<ul *ngFor="let r of result">
  <li>{{r.bigPrize}}</li>
</ul>
